/* footer */
  
  footer {
    background: var(--color-neutral);
    display: flex;
    padding: var(--px-xxl);
    margin: var(--px-xl) 0 0 0;
    width: calc(100% - 2 * var(--px-xxl));
  }
  
  .list-footer {
    margin-right: auto;
    padding: 0px;
  }
  
  .list-footer__item {
    margin: var(--px-ss) 0;
  }
  
  .subtitle-footer {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-subtitle);
  }