@media all and (max-width: 425px) {
  /* header */

  header {
    width: 100%;
  }

  .header-logo {
    order: 1;
  }

  /* header nav on second line */

  .header-nav__link--highlight,
  .header-nav__link--highlight:hover,
  .header-nav__link--highlight:active {
    order: 2;
    flex: 1;
    text-align: right;
    border: none;
  }

  .header-nav {
    width: 100%;
    order: 3;
    justify-content: stretch;
  }

  nav .header-nav__link {
    padding-bottom: var(--px-xs);
    width: 50%;
    border-top: none;
    border-bottom: var(--color-neutral) solid 2px;
    text-align: center;
  }

  .header-nav__link--active {
    border-top: none;
    border-bottom: var(--color-hue) solid 2px;
  }

  .header-nav__link:hover,
  .header-nav__link:active {
    border-top: none;
    border-bottom: var(--color-hue) solid 2px;
  }

  /* search field */

  .header-search {
    order: 4;
    width: 100%;
    padding: 0 var(--px-sm);
  }

  .header-search__button::after {
    content: "";
  }

  .header-search__button__icon {
    border-radius: var(--px-sm);
    height: var(--width-height-xxs);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-search);
    color: var(--color-white);
  }

  .header-search__button__icon:hover {
    color: var(--color-hue);
  }

  /* search filters title disconnected from buttons */

  .subtitle-filters {
    align-self: flex-start;
    width: 100%;
  }

  /* main */

  main {
    width: 100%;
    justify-content: center;
  }

  /* block 'lodging' in second position */

  .lodging {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 2;
    margin: var(--px-md) 0 0 0;
    padding: var(--px-md);
    background: transparent;
  }

  .lodging-list {
    justify-content: center;
  }

  .lodging__button {
    margin: var(--px-ss);
  }

  /* block 'popular' in first position */

  .popular {
    order: 1;
    border-radius: 0;
    padding: var(--px-md);
    width: 100%;
    margin: 0;
  }

  /* block activities in third position no grid */

  .activities {
    order: 3;
    margin-top: 0;
    width: 100%;
    padding: var(--px-md);
  }

  .activities__sample__img {
    width: var(--width-mobile);
    height: var(--height-mobile);
  }

  .activities__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activities__sample {
    width: var(--width-mobile);
    margin-bottom: var(--px-md);
  }

  .activities__sample__title {
    margin: var(--px-ss) 0px;
  }

  /* footer */

  footer {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .list-footer {
    margin: 0 var(--px-sm);
  }
}

@media all and (max-width: 768px) and (min-width: 426px) {
  /* header */

  .header-logo {
    order: 1;
    padding: 0 0 0 5%;
  }

  .header-nav__link--highlight {
    order: 2;
    flex: 1;
    text-align: right;
    border: none;
  }

  /* header nav on second line */

  .header-nav {
    order: 3;
    flex: inherit;
    width: 100%;
  }

  nav .header-nav__link {
    padding-bottom: var(--px-xs);
    width: 50%;
    border-top: none;
    border-bottom: var(--color-neutral) solid 2px;
    text-align: center;
  }

  .header-nav__link--active {
    border-top: none;
    border-bottom: var(--color-hue) solid 2px;
  }

  .header-nav__link:hover,
  .header-nav__link:active {
    border-top: none;
    border-bottom: var(--color-hue) solid 2px;
  }

  /* search field */

  .header-search {
    order: 4;
  }

  /* filters title disconnected from buttons */

  .subtitle-filters {
    align-self: flex-start;
    width: 100%;
  }

  /* first and second blocks in columns 'lodging' and 'popular' */

  .lodging {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: var(--px-md) 0 0 0;
  }

  .lodging-list {
    justify-content: center;
  }

  .lodging__button {
    margin: var(--px-ss);
  }

  .popular {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .popular__sample {
    width: 85%;
  }

  /* activities block smaller grid */

  .activities__block {
    column-gap: 10%;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: var(--grid2);
  }

  .activities__sample:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .activities__sample:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .activities__sample:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .activities__sample:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
  }

  .activities__sample:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .activities__sample:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

  /* footer on one column */

  footer {
    flex-direction: column;
    text-align: center;
  }

  .list-footer {
    margin: auto;
  }
}

@media all and (min-width: 1440px) {
  /* fixed width and floating margin on large screens */

  header,
  main,
  footer {
    width: var(--width-screen);
  }
}
