@import "normalize.css";
@import "responsive.css";

:root {
  --font-base: Raleway, sans-serif;
  --font-weight-bold: 800;
  --font-weight-base: 400;
  --font-size: 16px;
  --font-size-title: 1.5rem;
  --font-size-search: 1.3rem;
  --font-size-subtitle: 1.2rem;
  --font-size-name: 1.1rem;
  --line-height: 1.4rem;
  --color-hue: #0065fc;
  --color-light: #deebff;
  --color-neutral: #f2f2f2;
  --color-white: #fff;
  --color-text: #333;
  --box-shadow: 0px 0px 6px #ddd;
  --border-nav: var(--color-hue) solid 3px;
  --border-neutral-xs: var(--color-neutral) solid 1px;
  --border-neutral-md: var(--color-neutral) solid 2px;
  --border-light: 2px solid var(--color-light);
  --px-xxs: 2px;
  --px-xs: 6px;
  --px-ss: 10px;
  --px-sm: 15px;
  --px-md: 20px;
  --px-lg: 30px;
  --px-xl: 35px;
  --px-xxl: 40px;
  --width-height-xxs: 50px;
  --width-xs: 100px;
  --width-ss: 125px;
  --height-ss: 135px;
  --width-sm: 235px;
  --height-sm: 110px;
  --width-mobile: 325px;
  --height-mobile: 115px;
  --width-screen: 1440px;
  --grid: 195px 42px 43px 165px;
  --grid2: 235px 42px 165px 43px 195px 43px 210px;
}

* {
  scroll-behavior: smooth;
  transition: 0.2s all;
}

body {
  font-family: var(--font-base);
  font-weight: var(--font-weight-base);
  color: var(--color-text);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.header-logo {
  width: var(--width-xs);
  align-self: center;
}

/* header nav on right side */

.header-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.header-nav__link {
  padding: var(--px-xl) var(--px-xxl);
  color: var(--color-text);
  text-decoration: none;
}

.header-nav__link--active,
.header-nav__link:hover,
.header-nav__link:active {
  border-top: var(--border-nav);
  color: var(--color-hue);
}

.header-nav__link--highlight {
  width: var(--width-ss);
  background: none;
  color: var(--color-hue);
  font-weight: bold;
  border: none;
}

.header-nav__link--highlight:hover,
.header-nav__link--highlight:active {
  color: var(--color-light);
  border: none;
  padding: var(--px-xl) var(--px-xxl);
}

/* search field */

.header-search {
  width: 100%;
}

.title-header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
}

.subtitle-header {
  font-size: var(--font-size);
  font-weight: var(--font-weight-base);
}

.header-search__field {
  display: flex;
}

.header-search__field__icon {
  background-color: var(--color-neutral);
  border-radius: var(--px-sm) 0px 0px var(--px-sm);
  width: var(--width-height-xxs);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-search);
}

.header-search__input {
  border: var(--border-neutral-xs);
  font-family: var(--font-base);
  font-size: var(--font-size-name);
  height: calc(var(--width-height-xxs) - var(--px-xxs));
  padding: 0 var(--px-md);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.header-search__button {
  content: "Rechercher";
  background: var(--color-hue);
  border: none;
  border-radius: 0px var(--px-sm) var(--px-sm) 0px;
  color: var(--color-white);
  padding: 0px var(--px-md);
  margin: 0;
  font-size: var(--font-size-name);
}

.header-search__button::after {
  content: "Rechercher";
}

.header-search__button:hover,
.header-search__button:active {
  background: var(--color-light);
  color: var(--color-hue);
}

.header-search__button__icon {
  display: none;
}

/* search filters */

.subtitle-filters {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subtitle);
}

.header-search__filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  margin: var(--px-md) 0px;
}

.header-search__filters__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.header-search__filters__item {
  margin: var(--px-xs);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subtitle);
  padding: 0;
  display: flex;
}

/* colored part of the filters */

.header-search__filters__item__color {
  background: var(--color-light);
  border-radius: var(--px-lg);
  width: var(--width-height-xxs);
  height: var(--width-height-xxs);
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: var(--px-ss);
  transform: scale(1.08);
}

/* filter button design */

.header-search__filters__item__button {
  border: var(--border-neutral-md);
  background: transparent;
  border-radius: var(--px-lg);
  display: flex;
  align-items: center;
  padding: 0px var(--px-md) 0px 0px;
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  font-family: var(--font-base);
}

.header-search__filters__item__button:hover {
  border: var(--border-light);
  background: var(--color-light);
}

/* header last part info */

.header-info {
  margin-top: var(--px-md);
  display: flex;
  align-items: baseline;
}

.header-info__icon {
  border: var(--border-neutral-xs);
  border-radius: var(--px-md);
  height: var(--px-lg);
  width: var(--px-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: var(--px-xs);
}

/* main */

main {
  display: flex !important;
  justify-content: space-between;
  column-gap: var(--px-xl);
  flex-wrap: wrap;
  width: 80%;
}

/* first block 'lodging' */

.lodging {
  background: var(--color-neutral);
  border-radius: var(--px-md);
  padding: var(--px-md) var(--px-xxl) var(--px-md) var(--px-xxl);
  margin: var(--px-md) 0 0 0;
  flex: 2;
}

.lodging-title {
  width: 100%;
}

.lodging-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

/* each item block in lodging */

.lodging-list__sample {
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--px-md);
  padding: var(--px-xs);
  margin: var(--px-ss);
  line-height: var(--line-height);
}

.lodging-list__sample__img {
  width: var(--width-sm);
  height: var(--height-sm);
  border-radius: var(--px-md) var(--px-md) 0px 0px;
  object-fit: cover;
}

.lodging-list__sample__text {
  padding: 0;
  margin-top: 0;
}

.lodging-list__sample__title {
  margin: 0;
  font-size: var(--font-size-name);
}

.lodging-list__link {
  text-decoration: none;
  color: inherit;
}

.lodging-list__link:hover {
  transform: scale(1.08);
}

/* lodging 'more' button */

.lodging__button {
  background: transparent;
  border: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-name);
  margin: var(--px-xl) 0px 0px var(--px-ss);
}

.lodging__button:hover,
.lodging__button:active {
  color: var(--color-hue);
}

/* second block 'popular' */

.popular {
  background: var(--color-neutral);
  border-radius: var(--px-md);
  padding: var(--px-md) var(--px-xxl) var(--px-md) var(--px-xxl);
  margin: var(--px-md) 0 0 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 25%;
  flex: 1;
}

.popular-title {
  display: flex;
  justify-content: space-between;
}

/* each item block in popular */

.popular__link {
  text-decoration: none;
  color: inherit;
}

.popular__link:hover {
  transform: scale(1.08);
}

.popular__sample {
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--px-md);
  padding: var(--px-xs);
  margin: var(--px-sm) auto;
  display: flex;
}

.popular__sample__img {
  width: 40%;
  height: var(--height-ss);
  object-fit: cover;
  border-radius: var(--px-md) 0px 0px var(--px-md);
}

.popular__sample__text {
  margin: var(--px-xs);
  padding: var(--px-xs);
  display: flex;
  flex-direction: column;
  width: 60%;
}

.popular__sample__title {
  width: 100%;
  margin: 0;
}

.popular__sample__info {
  width: 100%;
  margin: 0;
  flex: 1;
}

.popular__sample__icons {
  width: 100%;
}

/* third block 'activities' */

.activities {
  margin-top: var(--px-xl);
  width: calc(100% - 2px * var(--px-xxl));
  padding: var(--px-md) var(--px-xxl) var(--px-md) var(--px-xxl);
}

/* grid display */

.activities__block {
  display: grid;
  column-gap: 4%;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: var(--grid);
  justify-content: center;
}

.activities__sample:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.activities__sample:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.activities__sample:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.activities__sample:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
}

.activities__sample:nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.activities__sample:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

/* each item block in activities */

.activities__sample {
  border-radius: var(--px-md);
  box-shadow: var(--box-shadow);
  justify-self: center;
}

.activities__sample:hover {
  transform: scale(1.08);
}

.activities__sample__link {
  text-decoration: none;
  color: inherit;
}

.activities__sample__item {
  height: 100%;
}

.activities__sample__img {
  width: 100%;
  height: calc(100% - 2 * var(--px-lg));
  object-fit: cover;
  border-radius: var(--px-md) var(--px-md) 0px 0px;
  margin: 0;
}

.activities__sample__title {
  padding: 0px 0px 0px var(--px-sm);
  margin: var(--px-ss) 0px 0px 0px;
}

/* footer */

footer {
  width: calc(80% - (2 * var(--px-xxl)));
  background: var(--color-neutral);
  display: flex;
  justify-content: center;
  padding: var(--px-xxl);
  margin-top: var(--px-xl);
}

.list-footer {
  margin-right: auto;
  padding: 0px;
}

.list-footer__item {
  margin: var(--px-ss) 0;
}

.subtitle-footer {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subtitle);
}
